* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-visible {
  width: 85%;
}
.image-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
  list-style-type: none;
}
.thumbnail-image-container {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-1 {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 575px) {
  .container-1 {
    width: 90%;
  }
}
